<%= form_for(@binary) do |f| %>
    <% if @binary.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@binary.errors.count, "error") %> prohibited this binary from being saved:</h2>

          <ul>
            <% @binary.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="panel panel-primary">
      <div class="panel-heading">Informations sur le binaire</div>
      <table class="table">
        <tr>
          <td><%= f.label :name, 'Nom' %></td>
          <td><%= f.text_field :name , :class => "form-control" %></td>
        </tr>
        <tr>
          <td><%= f.label :path, 'Binaire' %></td>
          <td><%= f.file_field :path %></td>
        </tr>
        <tr>
          <td colspan="2"><%= f.submit "Créer un binaire", :class => "btn btn-success" %></td>
        </tr>
      </table>
    </div>
<% end %>
