<h1>Listing binaries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @binaries.each do |binary| %>
      <tr>
        <td><%= binary.name %></td>
        <td><%= binary.path %></td>
        <td><%= link_to 'Show', binary %></td>
        <td><%= link_to 'Edit', edit_binary_path(binary) %></td>
        <td><%= link_to 'Destroy', binary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Binary', new_binary_path %>
