<!DOCTYPE html>
<html>
<head>
  <title>Hirens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Hirens Boot</h1>
</header>

<div id="loader">
  <%= image_tag 'ajax-loader.gif' %>
</div>

<% if user_signed_in? %>
    <ul class="nav nav-pills nav-stacked" id="stacked-menu">
      <li><a class="nav-container" href="<%= windows_images_path %>" id="dashboard_link">Images Windows</a></li>
      <li><a class="nav-container" href="<%= binaries_path %>" id="countries_link">Binaires disponibles</a></li>
      <li><a class="nav-container" href="<%= destroy_user_session_path %>" id="logout_link" data-method="delete">Se déconnecter</a></li>
    </ul>
<% end %>

<div class="content">
  <div class="bg-info"><%= flash_messages %></div>
  <%= yield %>
</div>

</body>
</html>